*{
    margin: 0;
    padding: 0;
}
body{
    background-color:white;
}
.about{
    text-align: center;
    background-color:  #333;
    color: white;
}
.location{
    width: 30%;
    background-color:white;
    margin-left: 65%;
    position: absolute;
    top: 7%;
}
.mission{
    width: 30%;
    background-color:white;
    position: absolute;
    top: 30%;
    margin-left: 65%;
}
.vision{
    width: 30%;
    background-color:white;
    position: absolute;
    top: 56%;
    margin-left: 65%;
}
.objectives{
   margin-left: 10%;
}
.p1{
    width: 50%;
    background-color:white;
    margin-top: 2.5%;
}
.p2{
    width: 50%;
    background-color:white;
    margin-top: 1%;
}
.p3{
    width: 50%;
    background-color:white;
    margin-top: 1%;
}
.p4{
    width: 50%;
    background-color:white;
    margin-top: 1%;
}
.h2{
margin-left: 20%;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 15%;
}
